<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xceed.Document.NET" version="1.7.20076.14010" targetFramework="net472" />
  <package id="Xceed.Pdf" version="1.7.20076.14010" targetFramework="net472" />
  <package id="Xceed.PDFCreator.NET" version="1.7.20076.14010" targetFramework="net472" />
  <package id="Xceed.Products.Documents.Libraries.Full" version="1.7.20076.14010" targetFramework="net472" />
  <package id="Xceed.Words.NET" version="1.7.20076.14010" targetFramework="net472" />
</packages>